@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html {
  font-family: "Open Sans",sans-serif;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

body {
  margin: 0;
  background: #4d4d4d;
}
